* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  min-height: 100dvh;
  margin: 0;
}

h1 {
  text-align: center;
}

.authContainer,
.formContainer {
  width: min(100%, 500px);
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.userEmail form {
  display: flex;
  gap: 1rem;
}

.userEmail form button {
  width: fit-content;
  white-space: nowrap;
  padding: 0 1rem;
}

.authContainer form .emailHolder,
.formHeader {
  padding: 0.6rem;
  border-radius: 4px;
  text-align: center;
  background-color: #e6e8eb;
  color: rgb(22, 22, 22);
  margin-bottom: 1rem;
}

.passwordWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.passwordWrapper img {
  width: 20px;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.passwordInput {
  border: none;
}

label {
  display: block;
  font-size: 0.8rem;
  margin: 5px 0 15px 0;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.btn {
  background-color: #e6e8eb;
  color: rgb(22, 22, 22);
  border: none;
  outline: none;
  padding: 10px;
  margin: 0;
  white-space: nowrap;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.btnGreen {
  background-color: rgb(64, 168, 64);
}

.btnGreen:hover {
  background-color: rgb(80, 207, 80);
}

.btnYellow {
  background-color: rgb(126, 138, 20);
}

.btnYellow:hover {
  background-color: rgb(174, 190, 26);
}

.btnRed {
  background-color: rgb(165, 67, 11);
}

.btnRed:hover {
  background-color: rgb(187, 76, 12);
}

.btnGrey {
  background-color: rgb(90, 89, 88);
}

.btnGrey:hover {
  background-color: rgb(117, 117, 116);
}

.cancelBtn {
  color: #f5f0f0;
  background-color: rgb(179, 70, 70);
}

.submitBtn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.submitBtn:hover {
  background-color: #0056b3;
}

.submitMessage {
  margin-top: 10px;
  font-size: 0.8rem;
}

.orgsHeader {
  text-align: center;
}

.usersOrgsContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.orgInfoContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.dateAdminContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.iconContainer {
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 3px;
}

.centerIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.iconContainerRight {
  flex-direction: row-reverse;
}

.iconContainer img {
  width: 20px;
}

.iconContainer p {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  align-self: center;
}

.usersOrgsUl {
  list-style: none;
  display: flex;
  width: 100%;
}

.usersOrgsUl li {
  padding: 10px;
  display: flex;
  width: 100%;
  flex: 0 0 100%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: rgb(221, 213, 213);
}

.orgsUlBtnContainer {
  max-width: 86%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  align-items: flex-end;
}

.orgsUlBtnContainer button {
  color: #e6e8eb;
  margin: 0;
  width: fit-content;
}

.orgsUlPassContainer {
  width: 100%;
  max-width: 80%;
  background-color: #e9e3e3;
}

.orgsUlPassContainer div input {
  background-color: transparent;
}

.usersOrgsUl li form div .orgUl {
  list-style: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.orgUl {
  margin-bottom: 1rem;
}

.orgUl li {
  padding: 10px;
  border-radius: 4px;
  background-color: rgb(207, 204, 204);
  transition: all 0.4s ease-in-out;
}

.orgUl li:hover {
  background-color: rgb(226, 222, 222);
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  color: black;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

.carousel-button:focus {
  outline: none;
}

/*Projects page*/

.filterProjects {
  width: min(100%, 800px);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background: white;
}

.sortProjects {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.sortProjects label {
  font-size: 1rem;
  color: #555;
  cursor: pointer;
  white-space: nowrap;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.searchProjects input[type="radio"]:checked + viewAll {
  background-color: #00796b;
}

.sortProjects input[type="radio"]:checked + label {
  color: white;
  background-color: #00796b;
}

.sortProjects input {
  display: none;
}

.searchProjects {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.searchProjects div {
  display: flex;
  gap: 10px;
}

.searchProjects button {
  width: fit-content;
  white-space: nowrap;
  padding: 10px 20px;
  color: white;
  margin: 0;
  background-color: #00796b;
  transition: all 0.3s ease-out;
}

.searchProjects button:hover {
  background-color: #028878;
}

.projectsUl {
  list-style: none;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background: white;
}

.projectsUl li {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 10px;
  background: rgb(238, 234, 234);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.projectsUl li:hover {
  background: rgb(223, 220, 220);
}

.projectsUl .topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.projectsUl .topContainer button {
  width: fit-content;
  align-self: center;
  margin: 0;
}

.projectsUl .topContainer button:hover {
  transform: scale(1.03);
}

.projectsUl .topContainer img {
  display: inline-block;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.projectsUl .topContainer img:hover {
  transform: scale(1.17);
}

.projectsUl .topContainer h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.projectsUl .topContainer img {
  width: 30px;
}

.projectsUl .projectInfoContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  position: relative;
}

.m-1rem {
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}

.success {
  color: rgb(40, 167, 40);
}
.error {
  color: red;
}
